/* Add application styles & imports to this file! */
@import url('https://fonts.cdnfonts.com/css/romantic');

:root {
  --romantic-color: #ff9dbd;

  /* Hanging Option Animation */
  --hanging-string-duration: 400ms;
  --hanging-tilt-duration: 250ms;
  --hanging-option-container-length: 150px;
  --hanging-string-length: 112.5px;
  --hanging-button-width: 135px;

  --string-scale-duration: 300ms;
  --string-tilt-duration: 200ms;
}

::selection {
  background-color: var(--romantic-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Winter', sans-serif;
  color: white;
  background-color: black;
}

main {
  display: flex;
  /*   flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.main-heading {
  text-align: center;
}

.heart-button {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em;
  min-width: 25px;
  min-height: 25px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Romantic', sans-serif;
  align-self: center;
  color: white;
}

/* Always beating for your beautiful smile */
.bi-balloon-heart-fill {
  animation: heart-beat 700ms ease-in-out infinite;
}

/* Faster on hover */
.heart-button:hover .bi-balloon-heart-fill {
  animation: heart-beat 500ms ease-in-out infinite;
}

.bi-balloon-heart-fill {
  cursor: grab;
  transition: 300ms ease-in-out;
}

/* Slower on grab */
.heart-button svg.bi-balloon-heart-fill:active {
  cursor: grabbing;
  width: 20px;
  animation: heart-beat 2000ms ease-in-out infinite;
}

@keyframes heart-beat {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}

/* #region Counting */
#fallOnLeft {
  font-size: 3.5em;
  position: absolute;
  top: -100px;
  left: 20%;
  animation: fallDown 1000ms ease-in-out;
}

#fallOnRight {
  font-size: 3.5em;
  position: absolute;
  top: -100px;
  right: 20%;
  animation: fallDown 1000ms ease-in-out;
}

@keyframes fallDown {
  0% {
    top: -100px;
  }

  50% {
    top: 60%;
  }

  75% {
    top: 50%;
  }

  100% {
    opacity: 0.25;
  }
}
/* endregion */

#firstView {
  animation: emerge 300ms ease-in-out forwards;
}

#secondView {
  animation: emerge 300ms ease-in-out forwards;
}

#secondView p {
  font-size: 5em;
  padding: 0;
  margin: 0;
}

@keyframes emerge {
  0% {
    scale: 0;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}

#playAgainButton {
  display: block;
  text-align: center;
}

#playAgainButton:hover {
  color: var(--romantic-color);
}

/* Utility Classes */
.flex-center {
  display: flex;
  justify-content: center;
}

.button-fancy {
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Romantic', sans-serif;
  color: white;
}

/* region Hanging Option */

.hanging-option-container {
  position: absolute;
  height: var(--hanging-option-container-length);
  top: 100%;
  left: 50%;
}

.hanging-option-string-left {
  border: 1px solid white;
  width: 0px;
  height: var(--hanging-string-length);
  transform-origin: top;
  animation: scaleFromTop var(--string-scale-duration) ease-in-out forwards,
    tiltLeft var(--string-tilt-duration) ease-in-out
      var(--string-scale-duration) forwards;
}

.hanging-option-string-right {
  border: 1px solid white;
  width: 0px;
  height: var(--hanging-string-length);
  transform-origin: top;
  animation: scaleFromTop var(--string-scale-duration) ease-in-out forwards,
    tiltRight var(--string-tilt-duration) ease-in-out
      var(--string-scale-duration) forwards;
}

.left-hanging-option {
  position: absolute;
  width: var(--hanging-button-width);
  scale: 0;
  left: calc(
    -1 * ((var(--hanging-string-length) * sin(45deg)) +
          (var(--hanging-button-width) / 2))
  ); /* -ve (stringLength.sin(45deg)) + (buttonWidth / 2) */
  top: calc(var(--hanging-string-length) * sin(45deg));

  animation: emerge 300ms ease-in-out
    calc(var(--string-scale-duration) + var(--string-tilt-duration) + 50ms)
    forwards;
}

.right-hanging-option {
  position: absolute;
  width: var(--hanging-button-width);
  scale: 0;
  transform-origin: top;
  left: calc(
    (var(--hanging-string-length) * sin(45deg)) -
      (var(--hanging-button-width) / 2)
  ); /* (stringLength.sin(45deg)) - (buttonWidth / 2) */
  top: calc(var(--hanging-string-length) * sin(45deg));

  animation: emerge 300ms ease-in-out
    calc(var(--string-scale-duration) + var(--string-tilt-duration) + 50ms)
    forwards;
}

@keyframes scaleFromTop {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes tiltLeft {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 45deg;
  }
}

@keyframes tiltRight {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -45deg;
  }
}

/* endregion */
